* {
    box-sizing: border-box;
}

.container {
  max-width: 70%;
  margin: auto;
  padding: 10px;
  text-align: justify;
}

#h1 {
    text-align: center;
    color: #0EA2EC;
}

.name {
    width: 97%;
    padding: 12px 20px;

    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: lightgrey;
}

.phone {
    width: 94%;
    padding: 12px 20px;
    
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: lightgrey;
}

[class*="col-"] {
    float: left;
    padding: 4px;
}


.row:after {
content: "";
display: table;
clear: both;
}

.dob {
    width: 25%;
    padding: 12px 20px;
    
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: lightgrey;
}


.ta {
    height: 200px;
    width: 95%;
    background-color: lightgrey;
}

 select {
    width: 95%;
    outline: 0;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: lightgrey;
}

input[type=submit] {
    width: 30%;
    background-color: #0EA2EC;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin: 15px 350px;
  }

input[type="radio"] {
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin-left: 20px;
  font: inherit;
  color: #0EA2EC;
  width: 0.95em;
  height: 0.95em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  display: inline-block;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}
input[type="radio"]:checked {
	background-color: #0EA2EC;
	border-color: #0EA2EC;
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


@media only screen and (max-width:1000px) {
    /* For mobile phones: */
    [class*="col-"], #h1, .h2 {
        width: 100%;
    }

    .dob, select {
      width: 100%;
      margin-top: 5px;
    }

    .phone {
      width: 100%;
    }

    input[type=submit] {
      margin-left: 40%;
    }

    #h1 {
      margin-left: 5px;
    }

    .name {
      width: 100%;
    }

    .container {
      text-align: justify;
    }

     input[type=radio] {
      margin-left: 15px;
    }

}